[Unit]
Description=set intel cpu power limit watts.
Conflicts=cpupowerlimit_balance.service cpupowerlimit_powersave.service cpupowerlimit_max_powersave.service cpupowerlimit_performance.service
Wants=sys-devices-virtual-powercap-intel\x2drapl.device
After=sys-devices-virtual-powercap-intel\x2drapl.device

[Service]
User=root
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/cpupowerlimit max_performance

[Install]
WantedBy=multi-user.target
